.dashboardMainView {
    height: calc(100vh - 6vh); /* Subtract the height of the bottom menu from the total viewport height */
    overflow-y: auto; /* Optional: Adds scrolling if the content inside exceeds the view height */
  }
  
  .dashboardBottomMenu {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .dashboardBottomMenu button {
    flex: 1;
    height: 6vh;
  }
  